<ion-content>
  <div id="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="homepage"> </ion-back-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="shareData()">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </div>
  <div id="featured-image">
    <img class="fullwidth-image" [src]="postImage" alt="">
  </div>
  <!--   [ngStyle]="{background: 'url(' + postImage + ') center / contain no-repeat'}"  -->
  <div
    id="content"
    style="padding-left: 5%; padding-right: 5%; padding-bottom: 20%"
  >
    <div class="author">
      <div class="author-details" style="height: 8vh">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3">
              <div
                class="author-avatar"
                style="
                  height: 40px;
                  background-color: aquamarine;
                  width: 40px;
                  border-radius: 50%;
                "
                [ngStyle]="{background: 'url(' + authorIvatar + ') center / contain no-repeat'}"
              ></div>
            </ion-col>
            <ion-col size="8">
              <p style="font-style: italic">by "{{authorName}}"</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <h1>{{postTitle}}</h1>
    <p [innerHtml]="postContent"></p>
  </div>
</ion-content>
