<ion-content style="margin-bottom: 100px;">
  <div id="header">
    <div id="navigation">
      <ion-toolbar translucent>
        <h1 style="padding-left: 5%; color: white">Welcome!</h1>
        <ion-buttons slot="end">
          <ion-button routerLink="/search">
            <ion-icon
              slot="icon-only"
              name="search"
              style="color: white"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </div>
  <div id="body">
    <div id="card" >
      <div
        id="card-grid"
        *ngFor="let post of posts"
        (click)="goToPostDetails(post.id)"
      >
        <div id="card-image">         
          <img [src]="post.x_featured_media_medium" alt="">
        </div>

        <div id="card-title">
          <h5 >{{post.title.rendered}}</h5>
          <p style="font-style: italic;">ditulis oleh : {{post._embedded.author[0].name}}</p>
        </div>
       
      </div>
      <div style="height: 100px; ">

      </div>
    </div>

    
  </div>

  
</ion-content>
